<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>

  <script type="text/javascript" src="libs/three.min.js"></script>
  <script type="text/javascript" src="libs/GPMD_Processor.js"></script>
  <script type="text/javascript" src="libs/vue2.4.4.min.js"></script>
</head>
<body>


<div id="app">
  p>{{ message }}</p>
  <p v-bind:title="message2">
    Hover your mouse over me for a few seconds to see my dynamically bound title!
  </p>
  <p v-if="seen">Now you see me</p>

  <button v-on:click="fetchJson">Reverse Message</button>
  <button v-on:click="destroySelfX">destroySelf</button>
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>


  <canvas id="myCanvas" width="600" height="300" style="border:1px solid #d3d3d3;">
  Your browser does not support the HTML5 canvas tag.</canvas>
  </div>
</body>
<script src="./script.js"></script>
</html>
